/* TODO:
  1. Kapcsolat űrlap automatikus kitöltés stílusa
  2. Modal ablak cookie-k
  4. Modal ablak telefonos ügyfélszolgálat
  5. Modal ablak foglalás/vizsgálat előtti teendők
*/

@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap");

/* ----------------------------- */
/* A változók beállítása         */
/* ----------------------------- */
:root {
  /* Színek: */
  --color-bg: rgba(18, 118, 149, 0.68);
  --color-button-font: rgba(248, 238, 218, 0.8);
  --color-hover: rgba(218, 6, 49, 1);
  --color-valid: rgb(110, 254, 110);

  /* Dimenziók: */
  --body-min-width: 300px;
  --card-min-width: 275px;
  --header-height: 80px;

  /* Időtartamok */
  --transition-duration: 0.5s;
  --animation-duration: 4s;

  /* Háttérképek */
  --bg-image: url("../resources/background_1.jpg");
}

/* ----------------------------- */
/* A RESET beállítása            */
/* ----------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  list-style: none;
}
textarea,
input {
  border: 0;
  outline: 0;
}

/* ----------------------------- */
/* A HTML és alap beállítások    */
/* ----------------------------- */
* {
  font-family: "Alkatra", system-ui;
  font-size: 14px;
  letter-spacing: 1px;
}
body {
  min-width: var(--body-min-width);
  background-image: var(--bg-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------------------------------- */
/* Az általános stílusok beállítása   */
/* ---------------------------------- */
.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-button-font);
  padding: 0.3rem 0.3rem;
  border-radius: 0.5rem;
  transition: var(--transition-duration);
  cursor: pointer;
  & svg {
    width: clamp(100px, 20vw, 140px);
    border-radius: 0.5rem;
  }
  &:hover,
  &.actual {
    color: var(--color-hover);
    filter: drop-shadow(0 0 3px var(--color-button-font))
      drop-shadow(0 0 8px var(--color-button-font));
  }
  &.highlighted {
    border: 1px solid var(--color-button-font);
    &:hover {
      border: 1px solid var(--color-hover);
    }
  }
}
.basic-element-design {
  backdrop-filter: blur(3px);
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 1rem;
  &:has(nav) {
    padding: 0 0.8rem;
  }
}
img {
  width: 100%;
}
:modal {
  width: 80vw;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
  color: var(--color-button-font);
  & p,
  a {
    font-size: 1.2rem;
    margin: 0.8rem;
    margin-right: 2rem;
    &.highlighted {
      font-weight: 700;
      color: var(--color-hover);
    }
  }
  & button {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding-block: 0;
    padding-inline: 0;
    margin: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

/* ----------------------------- */
/* A Hullám animáció beállítása  */
/* ----------------------------- */
body > .vawe {
  width: var(--header-height);
  height: var(--header-height);
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  &::before {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    background: transparent;
    backdrop-filter: invert(100%);
    border-radius: 50%;
    animation: sono-wave-outer var(--animation-duration) ease-out infinite;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    background: transparent;
    backdrop-filter: invert(100%);
    border-radius: 50%;
    animation: sono-wave-inner var(--animation-duration) ease-out infinite;
    z-index: -1;
  }
}
@keyframes sono-wave-outer {
  0% {
    top: 0;
    left: 0;
    width: var(--header-height);
  }
  97% {
    top: -120vh;
    left: -120vh;
    width: 240vh;
  }
  100% {
    top: -120vh;
    left: -120vh;
    width: 240vh;
  }
}
@keyframes sono-wave-inner {
  0% {
    top: 0;
    left: 0;
    width: var(--header-height);
  }
  3% {
    top: 0;
    left: 0;
    width: var(--header-height);
  }
  100% {
    top: -120vh;
    left: -120vh;
    width: 240vh;
  }
}

/* ----------------------------- */
/* A LOGO elem beállítása        */
/* ----------------------------- */
& body > .logo {
  width: var(--header-height);
  height: var(--header-height);
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 100;
  & .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: scale(-1, 1);
    rotate: y 90deg;
    transform-style: preserve-3d;
    background-color: var(--color-button-font);
    border-radius: 50%;
    animation: rotate 8s cubic-bezier(0, 0.48, 1, 0.52) infinite;
    animation-delay: calc(var(--i) * var(--animation-duration));
  }
}
@keyframes rotate {
  0% {
    rotate: y 90deg;
  }
  50%,
  100% {
    rotate: y 270deg;
  }
}

/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  top: 0;
  left: calc(var(--header-height) + 1rem);
  width: clamp(
    calc(var(--body-min-width) - var(--header-height) - 2rem),
    calc(100% - var(--header-height) - 2rem),
    calc(100% - var(--header-height) - 2rem)
  );
  height: 80px;
  margin: 0.5rem 1rem 0.5rem 0;
  z-index: 100;
  & .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & h1 {
      display: none;
    }
    & .phone-number {
      display: none;
      color: var(--color-button-font);
    }
    & a {
      height: 4rem;
      width: 4rem;
      &.phone-icon {
        height: 4.44rem;
        width: 4.44rem;
      }
      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  & nav {
    & .toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      height: 3rem;
      width: 3rem;
      transition: var(--transition-duration);
      cursor: pointer;
      & li {
        list-style: none;
        position: relative;
        width: 80%;
        height: 4px;
        background: var(--color-button-font);
        transition: var(--transition-duration);
      }
      &:hover li {
        background: var(--color-hover);
        filter: drop-shadow(0 0 3px var(--color-button-font))
          drop-shadow(0 0 8px var(--color-button-font));
      }
      &.menu-active li {
        background: var(--color-hover);
        filter: drop-shadow(0 0 3px var(--color-button-font))
          drop-shadow(0 0 8px var(--color-button-font));
        &:nth-of-type(1) {
          transform: translateY(0.8rem) rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-0.8rem) rotate(-45deg);
        }
      }
    }
    & .menu {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      position: absolute;
      top: calc(var(--header-height) + 1rem);
      right: -230px;
      padding: 1rem;
      backdrop-filter: blur(3px);
      transition: var(--transition-duration);
      &.menu-active {
        right: 0;
      }
    }
  }
}
/* ----------------------------- */
/* A MAIN elemeinek beállítása   */
/* ----------------------------- */
main {
  & section {
    display: none;
    margin: calc(var(--header-height) + 1.5rem) 1rem 1rem 1rem;
    color: var(--color-button-font);
    position: relative;
    z-index: 20;
    &.actualsection {
      display: block;
    }
    & h2 {
      font-size: 1.8rem;
      text-wrap: balance;
    }
    & h3 {
      font-size: 1.7rem;
      text-wrap: balance;
    }
    & p,
    & p a {
      font-size: 1.2rem;
      font-weight: 500;
      text-wrap: pretty;
      &.highlighted {
        font-weight: 700;
        color: var(--color-hover);
      }
    }
    & .button-part,
    & .icon-part {
      display: flex;
      justify-content: space-around;
    }
    & .icon-part {
      & svg,
      img {
        width: clamp(100px, 40%, 250px);
        height: clamp(100px, 40%, 250px);
      }
      & img {
        border-radius: 50%;
      }
    }
    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: clamp(var(--card-min-width), 60%, 60%);
      margin: 1rem 0;
    }
    & .left-side {
      position: relative;
      left: min(40%, calc(100% - var(--card-min-width)));
    }
    & .pricing-card-container {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      & .pricing-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        border: 3px solid var(--color-button-font);
        border-radius: 0.5rem;
        & .upper-part {
          display: flex;
          flex-direction: column;
          & h2 {
            margin: 0 auto;
          }
        }
        & .bottom-part {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.2rem;
        }
      }
    }
  }
}

.contact {
  & form {
    & .field .form-item {
      width: 100%;
      padding: 0.5rem;
      background: transparent;
      border: 2px solid var(--color-button-font);
      border-radius: 5px;
      box-shadow: 0 0 8px 2px var(--color-button-font);
      font-size: 1rem;
      color: var(--color-button-font);
      margin-top: 11px;
      &.error,
      &.blank {
        border: 2px solid var(--color-hover);
        box-shadow: 0 0 8px 2px var(--color-hover);
      }
      &::placeholder {
        color: var(--color-button-font);
      }
    }
    & .field input.form-item:valid:not(:placeholder-shown),
    & .field input.form-item:invalid:not(:placeholder-shown),
    & .field textarea.form-item:valid:not(:placeholder-shown) {
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) center;
    }
    & .field textarea.form-item:valid:not(:placeholder-shown) {
      background-position: calc(100% - 10px) 6px;
    }
    & .field input.form-item:invalid:not(:placeholder-shown) {
      border: 2px solid var(--color-hover);
      box-shadow: 0 0 8px 2px var(--color-hover);
      background-image: url(../resources/invalid.svg);
    }
    & .field input.form-item:invalid:not(:placeholder-shown) ~ div.error-txt {
      display: block;
    }
    & .field input.form-item:valid:not(:placeholder-shown),
    & .field textarea.form-item:valid:not(:placeholder-shown) {
      border: 2px solid var(--color-valid);
      box-shadow: 0 0 8px 2px var(--color-valid);
      background-image: url(../resources/valid.svg);
    }
    & .field .blank-txt,
    & .field .error-txt {
      display: none;
      font-size: 1rem;
      color: var(--color-hover);
      text-align: left;
      margin-top: 3px;
      margin-bottom: 8px;
    }
    & .field.error .error-txt,
    & .field.blank .blank-txt {
      display: block;
    }
    & .textarea-field .blank-txt {
      margin-top: -1px;
    }
    & .textarea-field .form-item {
      resize: none;
    }
    & .submit-button {
      margin: 0 auto;
    }
  }
}

/* ----------------------------- */
/* A FOOTER elemeinek beállítása */
/* ----------------------------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  z-index: 100;
  & .footer-links {
    display: flex;
    justify-content: space-between;
    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  & p {
    color: var(--color-button-font);
  }
}

/* ----------------------------- */
/* A reszponzivitás beállítása   */
/* ----------------------------- */
@media screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
  @keyframes sono-wave-outer {
    0% {
      top: 0;
      left: 0;
      width: var(--header-height);
    }
    97% {
      top: -120vw;
      left: -120vw;
      width: 240vw;
    }
    100% {
      top: -120vw;
      left: -120vw;
      width: 240vw;
    }
  }
  @keyframes sono-wave-inner {
    0% {
      top: 0;
      left: 0;
      width: var(--header-height);
    }
    3% {
      top: 0;
      left: 0;
      width: var(--header-height);
    }
    100% {
      top: -120vw;
      left: -120vw;
      width: 240vw;
    }
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    & .contacts {
      & .phone-number {
        display: block;
        font-size: 1.3rem;
        margin-left: 0.5rem;
        user-select: all;
        &::selection {
          color: var(--color-hover);
          background-color: var(--color-button-font);
        }
      }
      & .phone-icon {
        display: none;
      }
    }

    & nav {
      & .toggle {
        display: none;
      }
      & .menu {
        flex-direction: row;
        position: static;
        backdrop-filter: none;
        background-color: inherit;
        padding: 0;
        gap: 0;
      }
    }
  }
  main {
    & section {
      & h2 {
        font-size: 2.2rem;
      }
      & h3 {
        font-size: 2.1rem;
      }
      & p,
      & p a {
        font-size: 1.4rem;
      }
      & .pricing-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & .pricing-card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 48%;
          padding: 0.5rem;
        }
      }
    }
  }
}
