/* TODO:
  1. footer z-index
  2. div.vawe
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap");

/* ----------------------------- */
/* A változók beállítása         */
/* ----------------------------- */
:root {
  /* Színek: */
  --color-dark-red: rgba(111, 0, 0, 1);
  --color-light-red: rgba(193, 18, 31, 1);
  --color-butter: rgba(253, 240, 213, 0.8);
  --color-dark-blue: rgba(0, 38, 80, 1);
  --color-dark-green: rgb(18, 88, 88);

  --color-lime: rgba(137, 193, 6, 0.95);
  --color-blue: rgba(17, 138, 178, 1);
  --color-black: rgba(11, 11, 11, 1);

  --color-bg: rgba(18, 138, 178, 0.5);
  --color-button: rgba(248, 238, 218, 0.8);
  --color-hover: rgba(218, 65, 103, 1);
  --color-font: rgba(248, 238, 218, 0.8);

  /* Dimenziók: */
  --body-min-width: 300px;
  --card-min-width: 275px;
  --header-height: 80px;

  /* Időtartamok */
  --transition-duration: 0.5s;
  /* Háttérképek */
  --bg-image: url("../resources/background_1.jpg");
}

/* ----------------------------- */
/* A RESET beállítása            */
/* ----------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  list-style: none;
}
textarea,
input {
  border: 0;
  outline: 0;
}

/* ----------------------------- */
/* A HTML és alap beállítások    */
/* ----------------------------- */
* {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Sriracha", serif; */
  font-family: "Alkatra", system-ui;
  /* font-weight: 600; */
  /* font-style: italic; */
  font-size: 14px;
  /*   scroll-behavior: smooth;
  scroll-padding-top: 80px; */
}
/* html {
  scroll-behavior: smooth;
} */
body {
  min-width: var(--body-min-width);
  background-image: var(--bg-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------------------------------- */
/* Az általános stílusok beállítása   */
/* ---------------------------------- */
.basic-button {
  color: var(--color-button);
  font-size: 1.4rem;
  font-weight: 800;
  padding-inline: 0.4rem;
  border-radius: 0.5rem;
  transition: var(--transition-duration);
  cursor: pointer;
  &:hover,
  &.actual {
    color: var(--color-hover);
    text-shadow: 0 0 13px var(--color-button);
    filter: drop-shadow(0 0 3px var(--color-button))
      drop-shadow(0 0 8px var(--color-button));
  }
  &.highlighted {
    border: 3px solid var(--color-button);
    &:hover {
      border: 3px solid var(--color-hover);
    }
  }
}
.basic-element-design {
  backdrop-filter: blur(3px);
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 1rem;
  &:has(nav) {
    padding: 0 0.8rem;
  }
}
img {
  width: 100%;
}

/* ----------------------------- */
/* A Hullám animáció beállítása  */
/* ----------------------------- */
body > .vawe {
  width: var(--header-height);
  height: var(--header-height);
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  &::before {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    background: transparent;
    backdrop-filter: invert(100%);
    border-radius: 50%;
    animation: sono-wave-outer 4s ease-out infinite;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    background: transparent;
    backdrop-filter: invert(100%);
    border-radius: 50%;
    animation: sono-wave-inner 4s ease-out infinite;
    z-index: -1;
  }
}
@keyframes sono-wave-outer {
  0% {
    top: 0;
    left: 0;
    width: var(--header-height);
  }
  97% {
    top: -120vh;
    left: -120vh;
    width: 240vh;
  }
  100% {
    top: -120vh;
    left: -120vh;
    width: 240vh;
  }
}
@keyframes sono-wave-inner {
  0% {
    top: 0;
    left: 0;
    width: var(--header-height);
  }
  3% {
    top: 0;
    left: 0;
    width: var(--header-height);
  }
  100% {
    top: -120vh;
    left: -120vh;
    width: 240vh;
  }
}

/*   &::before {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    background: transparent;
    border: 3px solid var(--color-bg);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--color-bg);
    animation: sono-wave 3s ease-out infinite;
  }
  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    background: transparent;
    border: 3px solid var(--color-bg);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--color-bg);
    animation: sono-wave 3s ease-out infinite;
    animation-delay: 0.3s;
  }
}
@keyframes sono-wave {
  0% {
    top: -0.5%;
    left: -0.5%;
    width: 1%;
  }
  100% {
    top: -2000%;
    left: -2000%;
    width: 4000%;
  }
} */

/* ----------------------------- */
/* A LOGO elem beállítása        */
/* ----------------------------- */
& body > .logo {
  width: var(--header-height);
  height: var(--header-height);
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 100;
  & .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: scale(-1, 1);
    rotate: y 90deg;
    transform-style: preserve-3d;
    background-color: var(--color-butter);
    border-radius: 50%;
    animation: rotate 8s cubic-bezier(0, 0.48, 1, 0.52) infinite;
    animation-delay: calc(var(--i) * 4s);
  }
}
@keyframes rotate {
  0% {
    rotate: y 90deg;
  }
  50%,
  100% {
    rotate: y 270deg;
  }
}

/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  top: 0;
  left: calc(var(--header-height) + 1rem);
  width: clamp(
    calc(var(--body-min-width) - var(--header-height) - 2rem),
    calc(100% - var(--header-height) - 2rem),
    calc(100% - var(--header-height) - 2rem)
  );
  height: 80px;
  margin: 0.5rem 1rem 0.5rem 0;
  z-index: 100;
  & .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .phone-number {
      display: none;
      color: var(--color-button);
    }
    & a {
      height: 4rem;
      width: 4rem;
      &.phone-icon {
        height: 4.44rem;
        width: 4.44rem;
      }
      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  & nav {
    & .toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      height: 3rem;
      width: 3rem;
      transition: var(--transition-duration);
      cursor: pointer;
      & li {
        list-style: none;
        position: relative;
        width: 80%;
        height: 4px;
        background: var(--color-button);
        /* filter: drop-shadow(0 0 3px var(--color-dark-blue)); */
        transition: var(--transition-duration);
      }
      &:hover li {
        background: var(--color-hover);
        /* filter: drop-shadow(0 0 3px var(--color-dark-red)); */
      }
      &.menu-active li {
        background: var(--color-hover);
        /* filter: drop-shadow(0 0 3px var(--color-hover)); */
        &:nth-of-type(1) {
          transform: translateY(0.8rem) rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-0.8rem) rotate(-45deg);
        }
      }
    }
    & .menu {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      position: absolute;
      top: calc(var(--header-height) + 1rem);
      right: -230px;
      padding: 1rem;
      backdrop-filter: blur(3px);
      transition: var(--transition-duration);
      &.menu-active {
        right: 0;
      }
      /*       & a {
        font-weight: 800;
      } */
    }
  }
}
/* ----------------------------- */
/* A MAIN elemeinek beállítása   */
/* ----------------------------- */
main {
  & section {
    display: none;
    margin: calc(var(--header-height) + 1.5rem) 1rem 1rem 1rem;
    color: var(--color-font);
    position: relative;
    z-index: 20;
    &.actualsection {
      display: block;
    }
    & h2 {
      font-size: 1.8rem;
    }
    & h3 {
      font-size: 1.7rem;
    }
    & p,
    & p a {
      font-size: 1.1rem;
      font-weight: 500;
      &.highlighted {
        font-weight: 700;
        color: var(--color-hover);
        text-shadow: 0 0 3px var(--color-button), 0 0 8px var(--color-button),
          0 0 13px var(--color-button);
      }
    }
    & .button-part,
    & .icon-part {
      display: flex;
      justify-content: space-evenly;
      & svg,
      img {
        width: clamp(100px, 40%, 250px);
        height: clamp(100px, 40%, 250px);
      }
      & img {
        border-radius: 50%;
      }
    }
    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: clamp(var(--card-min-width), 60%, 60%);
      margin: 1rem 0;
    }
    & .left-side {
      position: relative;
      left: min(40%, calc(100% - var(--card-min-width)));
    }
    & .pricing-card-container {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      & .pricing-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        border: 3px solid var(--color-font);
        border-radius: 0.5rem;
        & .upper-part {
          display: flex;
          flex-direction: column;
          & h2 {
            margin: 0 auto;
          }
        }
        & .bottom-part {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.2rem;
        }
      }
    }
  }
}

.contact {
  & form {
    /*     width: clamp(270px, 45vw, 800px);
    text-align: center; */
    & .field .form-item {
      width: 100%;
      padding: 0.5rem;
      background: transparent;
      border: 2px solid var(--color-button);
      border-radius: 5px;
      box-shadow: 0 0 8px 2px var(--color-button);
      font-size: 1rem;
      margin-top: 11px;
      &.error,
      &.blank {
        border: 2px solid var(--color-hover);
        box-shadow: 0 0 8px 2px var(--color-hover);
      }
      &::placeholder {
        color: var(--color-font);
      }
    }
    & .field .blank-txt,
    & .field .error-txt {
      display: none;
      font-size: 0.8rem;
      color: var(--color-hover);
      text-align: left;
      margin-top: 3px;
      margin-bottom: 8px;
    }
    & .field.error .error-txt,
    & .field.blank .blank-txt {
      display: block;
    }
    & .textarea-field .blank-txt {
      margin-top: -1px;
    }
    & .textarea-field .form-item {
      resize: none;
    }
    & .submit-button {
      /*       border: none;
      outline: none;
      border-radius: 5px;
      background: transparent;
      font-family: inherit;
      cursor: pointer; */
      margin: 0 auto;
    }
  }
}

/* ----------------------------- */
/* A FOOTER elemeinek beállítása */
/* ----------------------------- */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  z-index: 100;
  & .logo {
    width: 100%;
    height: 100%;
    & a {
      font-size: 1.5rem;
      padding: 0;
    }
  }
  & .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & a {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

/* ----------------------------- */
/* A reszponzivitás beállítása   */
/* ----------------------------- */
@media screen and (min-width: 500px) {
  /*   header .logo,
  footer .logo {
    width: auto;
  } */
}
@media screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
  @keyframes sono-wave-outer {
    0% {
      top: 0;
      left: 0;
      width: var(--header-height);
    }
    97% {
      top: -120vw;
      left: -120vw;
      width: 240vw;
    }
    100% {
      top: -120vw;
      left: -120vw;
      width: 240vw;
    }
  }
  @keyframes sono-wave-inner {
    0% {
      top: 0;
      left: 0;
      width: var(--header-height);
    }
    3% {
      top: 0;
      left: 0;
      width: var(--header-height);
    }
    100% {
      top: -120vw;
      left: -120vw;
      width: 240vw;
    }
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    & .contacts {
      & .phone-number {
        display: block;
        font-size: 1.4rem;
        margin-left: 0.5rem;
      }
      & .phone-icon {
        display: none;
      }
    }

    & nav {
      & .toggle {
        display: none;
      }
      & .menu {
        flex-direction: row;
        position: static;
        backdrop-filter: none;
        background-color: inherit;
        padding: 0;
        gap: 0;
      }
    }
  }
  main {
    & section {
      & .pricing-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & .pricing-card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 48%;
          padding: 0.5rem;
        }
      }
    }
  }
}
